<header class="Header">
  <div class="Logo">
    <a href="/">Logo</a>
  </div>
  <nav class="Menu">
    <ul>
      <li>
        <a href="/">Inicio</a>
      </li>
      <li>
        <a href="/portafolio">Portafolio</a>
      </li>
      <li>
        <a href="/contacto">Contacto</a>
      </li>
      <li>
        <a href="/404">Error 404</a>
      </li>
      <li>
        <ul>
          Handlebars
          <li>
            <a href="https://handlebarsjs.com/" target="_blank">Documentación</a>
          </li>
          <li>
            <a href="https://www.sitepoint.com/a-beginners-guide-to-handlebars/" target="_blank">Guía rápida</a>
          </li>
          <li>
            <a href="https://github.com/pillarjs/hbs" target="_blank">Módulo hbs</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
